
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* General Styling */
* {
    margin: 0;
    padding: 0; 
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden; 
  /* overflow: hidden; */
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden; 
    /* overflow:hidden;  */
}

p {
    color:rgb(85,85,85); 
}
/* Transition */

a, 
.btn {
    transition: all 300ms ease; 
    color: rgb(85, 85, 85);
}

/* Desktop Nav */ 
nav, .nav-links {
    display: flex;
    color: rgb(196, 215, 219);
    /* background-color:rgb(48, 60, 126)blue;  */
    /* background-color:steelblue; */
    
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    /* background-color: rgb(22, 28, 64); */
    background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; 
    /* line-height: 50px; 
    display:block;
    margin: 20px 0; 
    border-bottom: 1px solid #111;     */

}


.nav-links {
    gap: 7rem; 
    list-style:none;
    font-size: 1.5rem;
    align-items: center;
}
a {
    color: rgb(196, 215, 219);
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: grey;
    text-decoration-line: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color:rgb(181, 181, 181);
}

/* .nav-logo {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px; 
} */
.logo{
   font-size: 2rem; 
   align-items: center;
}

.logo:hover {
    cursor:default; 
}


/* The Hamburger Menu */
#hamburger-nav {
    display: none; 
}

.hamburger-menu {
    position: relative; 
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px; 
    cursor:pointer; 
}
.hamburger-icon span{
    width: 100%; 
    height: 2px; 
    background-color: rgb(196, 215, 219);
    transition: all 0.3 ease-in-out; 
}
.menu-links {
    position: absolute;
    top: 100%; 
    right: 0; 
    background-color: white;
    width: fit-content; 
    max-height: 0; 
    overflow: hidden; 
    transition: all 0.3 ease-in-out; 
}
.menu-links a {
    display: block; 
    padding: 10px; 
    text-align: center;
    font-size: 1.5rem;
    color: rgb(196, 215, 219);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open {
    max-height: 300px; 
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px,5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0; 
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px,-5px);
}

.hamburger-icon span:first-child {
    transform: none; 
}
.hamburger-icon span:first-child {
    opacity: 1;  
}
.hamburger-icon span:first-child {
    transform: none; 
}

/* SECTIONS */

section {
    padding-top: 4vh; 
    height: 96vh; 
    /* margin: 0 10rem;  */
    margin: 0; 
    box-sizing:border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
    /* flex-wrap: wrap; */
    /* padding-top:50rem;  */
}
/* .section__text__p1 {
    color: rgb(196, 215, 219);
}
.section__text__p2 {
    color: rgb(196, 215, 219);
} */

/* Profile */
#profile {
    display: flex; 
    justify-content: center;
    align-items:center; 
    min-height: 100vh;
    /* flex-direction: column; */
    margin:0; 
    gap: 5rem; 
    height: 80vh;
    /* background-color: rgb(22, 28, 64); */
    background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; 
}
#profile .section__text__p1 {
    font-weight: 600;
    font-family: "Raleway", sans-serif;

}

#profile .title {
    font-size: 3rem;
    font-weight:600; 
    font-family: "Raleway", sans-serif;

}

.section__pic-container {
    display: flex; 
    height: 600px; 
    width: 600px; 
    margin: auto 0;
    font-size: larger;
}

.section__text {
    /* justify-content:center;  */
    align-self: center; 
    text-align: center;
}
.section__text p {
    font-weight: 600; 
    color: rgb(196, 215, 219);

}


.section__text__p1,.title {
    text-align: center;
color:rgb(196, 215, 219);
    font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;  
}
.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    margin-top:0.5rem;
    color: rgb(196, 215, 219);
 
}

.title {
    font-size: 3rem; 
    text-align: center;
    color: rgb(196, 215, 219);
 
}

#socials-container {
    display: flex; 
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem; 
}

/* Icons */

.icon {
    cursor: pointer; 
    height: 2rem; 
}

/* Buttons */

.btn-container {
    display: flex; 
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600; 
    transition: all 300ms ease; 
    padding: 1rem; 
    width: 8rem; 
    border-radius: 2rem; 
}

.btn-color-1, 
.btn-color-2 {
    border: rgb(196, 215, 219) 0.1rem solid; 
    color:rgb(196, 215, 219); 
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer; 
}
.btn-color-1,
.btn-color-2:hover {
    background: rgb(22, 28, 64);
    /* color: whitesmoke;  */
}

.btn-color-1:hover {
    /* background: rgb(33, 109, 79);  */
    background: transparent; 
    border: rgb(255, 255, 255) 0.1rem solid;
    
}

.btn-color-2 {
    background: none; 
}

.btn-color-2:hover {
    border: rgb(255,255,255) 0.1rem solid; 
}
.project-btn:hover {
    background: rgb(170, 241, 255); 
   
}

.btn-container{
    gap:1rem; 
}

/* About Section */

#about {
    position: relative;
    background-color: black;
    padding:0; 
    /* margin: 0;  */
    /* padding-right: 0%; */
    /* border-bottom: 0.1rem solid rgb(22, 28, 64);  */
}
#about .details-container:hover, #about .details-container1:hover {
    transform:none; 
}

.svg {
    max-width: 100%;
    padding-top: 2rem;
    scroll-behavior: smooth;

    /* position:absolute;  */
    /* display: block; */
    /* display: flex;
    align-items: center;
    width: 100%;
    height:100%;   */
}
#curve-text {
    fill: transparent; 
    /* fill:url(./assets/back.jpg); */
      /* background-size: cover;  */

        /* width: 100px;
    height: 100px; */
    /* display:flex;  */


    /* font-size: larger; */
}
#imageFill image {
    background-size: cover;
    display: center;
    margin:0; 
}
#moving-text  {
        font-size:x-small;
        font-family: "Bitcount Grid Double", system-ui;
        font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0; 
        /* border: 0.1rem solid rgb(223, 211, 211); */
    /* background-image: url('./assets/back.jpg');

    background-size: cover;
    background-position: center center; */
    /* background-clip: text;
    -webkit-text-fill-color: transparent; */
    
        
        /* text-anchor: middle; */
}

/* .section-container-about {
    display:flex; 
    padding: 2rem;
} */
.about-containers {
    gap: 2rem; 
    margin-bottom:2rem; 
    margin-top: 3rem;
    /* background: rgba(255, 255, 255, 0.05); */

}
/* #about .details-container {
      background: url(./assets/text.jpg);
      border-radius: 15px; 
      transition: all 0.3s ease;
      border: 0.1rem solid rgba(180, 180, 180, 0.457);
      background-blend-mode:lighten;
      overflow: hidden;

} */
#about .details-container h3, #about .details-container p,#about .details-container1 h3, #about .details-container1 p  {
    color:rgba(214, 214, 214, 0.737);
}
#about .details-container1 {
    flex: 0.5; 
}
/* #about .about-containers {
      background-color: rgba(255, 255, 255, 0.05);
      border-radius:0.1rem; 
      transition: all 0.3s ease;
      border: 1px solid rgba(255, 255, 255, 0.1);
      overflow: hidden;
    }
/*  

.about-containers2 {
    gap: 2rem; 
    margin-bottom:10rem; 
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    
} */

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers, .about-containers2 
.about-details-container{
    display: flex;
}

.about-pic {
border-radius: 2rem; 
}

.text-container {
    font-weight:100;
    font-size: large;
    
    /* border: 0.2rem solid rgba(180, 180, 180, 0.457);
    border-radius: 15px; 
    /* border-radius: 15px; */
      /* border-radius: 15px; */
      /* --s:50px; */
/*        
    border-image: url(./assets/text.jpg) 30 ;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent; */ 


    /* border-image-slice: 1; */
    /* border-radius: 15px; */
    /* mask-image: none;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect; */
  overflow: hidden; /* ensures content inside respects border-radius */
  /* background-origin: border-box;
background-clip: content-box, border-box;
  */
      /* transition: all 0.3s ease;
      border: 0.1rem solid rgba(180, 180, 180, 0.457);
      background-blend-mode:lighten; */
    /* border-image: url(./assets/text.jpg); */
    /* border-image-slice: 1px; */

}
.text-container p {
    margin-top: auto;
    margin: 0.6rem;
    font-size: small;
    color: whitesmoke;
    /* background-color: black;
    border-radius:15px;  */
    
}

.arrow{
    position: absolute;
    right: -5rem; 
    bottom: 2.5rem; 
}

.arrow-contact {
    position: absolute;
    right: -5rem; 
    bottom: 2.5rem; 
    margin-top: auto;
    margin-bottom: 2rem;
}

.details-container, .details-container1 {
    padding: 1.5rem; 
    flex: 1; 
     background: url(./assets/background.jpg);
      border-radius: 15px; 
      transition: all 0.3s ease;
      border: 0.1rem solid rgba(180, 180, 180, 0.457);
    text-align: center;
    flex:wrap; 
}
.details-container:hover, .details-container1:hover {
    transform: scale(1.05);
}

.section-container {
    gap: 4rem;
    height: 80%;
    padding-right: 6rem;
    padding-left: 6rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    align-items: center;
}

.section__pic-container {
    height: 400px; 
    width: 400px; 
    margin: auto 0; 
}

/* Experience */

#experience {
    position: relative;
    background-color: rgb(0, 0, 0) ; 
}

#experience .section__text__p1 {
    font-size: larger;
}

 .details-container, .details-container1, .contact-info-upper-container {
    --gradient: rgb(196, 215, 219);
    /* border-radius: 15px; 
      transition: all 0.3s ease;
      border: 0.1rem solid rgba(180, 180, 180, 0.457); */
    border: 0.1rem solid transparent;
    border-radius: 15px;
    position:relative; 
    background: linear-gradient(black) padding-box, 
    conic-gradient(var(--gradient)) border-box; 
    isolation:isolate; 

}
 .details-container::before, 
 .details-container::after, 
 .details-container1::before, 
 .details-container1::after, 
 .contact-info-upper-container::before, 
 .contact-info-upper-container::after {
    content:""; 
    position:absolute;
    border-radius:inherit; 
}
 .details-container::before, 
 .details-container1::before, 
  .contact-info-upper-container::before 
  {
    background: black; 
    inset:var(--blur-size, 0.4rem); 
    z-index: -1; 
    filter: blur(1rem); 
}

 .details-container::after, 
 .details-container1::after, 
  .contact-info-upper-container::after 
{
    background: conic-gradient(var(--gradient));
    inset:-.4rem; 
    z-index:-2; 
    filter: blur(1.5rem); 
    opacity: 0.35; /* blur-intensity*/
}



.experience-sub-title {
    color:rgb(255, 242, 242); 
    font-weight: 600; 
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    max-width: 80%; 
    margin: 0 auto; 
    display: flex; 
    justify-content: center;
    flex-direction: column;
}



.article-container {
    display: flex; 
    text-align: initial; 
    flex-wrap: wrap; 
    flex-direction: row; 
    /* padding: auto;  */
    /* border: 0.1rem black; */
    gap: 4rem; 
    justify-content: space-around;
}


article {
    display: flex; 
    width: 10rem; 
    justify-content: space-around; 
    gap: 0.5rem;
    color:rgba(214, 214, 214, 0.737);
    /* color:rgb(255, 242, 242);  */
 
}
article p, .experience-sub-title {
    color:rgba(214, 214, 214, 0.737);

}

article .icon {
    cursor: default; 
}

/* Projects */

#projects {
    position: relative;
    margin-bottom: auto;
    background-color: black;  
}


.about-containers2 {
    gap: 2rem; 
    margin-bottom:10rem; 
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    
}
#projects .section__text__p1 {
    font-size: larger;
}

 .color-container {
     background: black;  
} 

 .color-container {
    --gradient: rgb(196, 215, 219);
    border: 0.1rem solid transparent;
    border-radius: 15px;
    position:relative; 
    background: linear-gradient(black) padding-box, 
    conic-gradient(var(--gradient)) border-box; 
    isolation:isolate; 

}

.color-container::before, 
.color-container::after {
    content:""; 
    position:absolute;
    border-radius:inherit; 
}
.color-container::before {
    background: black; 
    inset:var(--blur-size, 0.4rem); 
    z-index: -1; 
    filter: blur(1.5rem); 
}

.color-container::after {
    background: conic-gradient(var(--gradient));
    inset:-.65rem; 
    z-index:-2; 
    filter: blur(2rem); 
    opacity: 0.35; /* blur-intensity*/
}


.project-img {
    border-radius: 2rem;
    width: 90%; 
    height: 90%; 
}

.project-title {
    margin: 1rem; 
    color: rgb(255, 242, 242);
}

.project-btn {
    color: rgb(255, 242, 242);
    border-color: rgb(255, 242, 242); 
}

/* Contact Me */

#contact {
    display: flex; 
    justify-content: center; 
    flex-direction: column;
    height: 70vh;
    margin-top: auto ;
    background-color: black;
}

.contact-info-upper-container {
    display: flex; 
    justify-content: center; 
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid; 
    border-color: rgb(163,163,163);
    background:(250, 250, 250); 
    margin: 2rem auto; 
    padding: 0.5rem; 
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; 
    margin: 1rem; 
}
.contact-info-container p {
    font-size: larger;
}
.contact-icon {
    cursor:default; 
}

.email-icon {
    height: 2.5rem; 
}

/* footer */

footer {
    height: 26vh; 
    background-color: black;
    /* margin: 0 1rem;  */
}

footer p {
    text-align: center;
}


